<?xml version="1.0" encoding="ISO-8859-1"?>

<taglib xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
  version="2.1">

  <tlib-version>1.0</tlib-version>
  <short-name>myshortname</short-name>
  <!--<uri>http://mycompany.com</uri>-->

  <!-- Invoke 'Generate' action to add tags or functions -->

  <tag>
    <!-- <%@ taglib uri="/WEB-INF/mine.tld" prefix="mytag" %> -->
    <!-- mytag:My ... -->
    <name>My</name>
    <tag-class>tags.ListTag</tag-class>
    <body-content>empty</body-content>
    <attribute>
      <!--  <mytag:My field="" color=""></mytag:My>  -->
      <name>cssClass</name>
      <required>true</required>
    </attribute>
    <attribute>
      <!--  <mytag:My field="" color=""></mytag:My>  -->
      <name>firstColumnName</name>
      <required>true</required>

    </attribute>
    <attribute>
      <name>secondColumnName</name>
      <required>true</required>
    </attribute>
    <attribute>
      <name>thirdColumnName</name>
      <required>true</required>
    </attribute>
    <attribute>
      <name>fourthColumnName</name>
      <required>true</required>
    </attribute>
    <attribute>
      <name>fifthColumnName</name>
      <required>true</required>
    </attribute>
  </tag>

</taglib>
